# Dependencias
/node_modules/

# Build de producción
/dist/

# Archivos de Vercel CLI (si lo usas localmente)
/.vercel/

# Variables de entorno locales
.env
.env.*.local

# Archivos de log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Editor / OS
.vscode/
.idea/
.DS_Store

# Cachés de herramientas
/.vite/
/*.tsbuildinfo

# Cobertura de tests (si usas)
//coverage/

# Archivos temporales
*.tmp
*.temp
